@using Fiorello_Front_To_Back.Areas.Admin.ViewModels.FaqPage
@model FaqPageUpdateViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Update category
                        </p>
                        <form method="post" asp-action="update" asp-controller="faqpage" asp-area="admin" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title"></span>

                                <label asp-for="Description"></label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                                <span asp-validation-for="Description"></span>

                                <label asp-for="Order"></label>
                                <input class="form-control" asp-for="Order">
                                <span asp-validation-for="Order"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-light" asp-action="index" asp-controller="faqpage" asp-area="admin">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}